h1 {
    color: rgb(147, 55, 184);
}

h3 {
    color:blueviolet
}

p {
    background-color: rgb(240, 111, 240);
}

ul {
    background-color: rgb(240, 111, 240);
}

b {
 background-color: rgb(168, 51, 251,);
 color: white;
}

html {
    background-color: rgb(218, 207, 218);
    font-family: fantasy;
}

